<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cv - Francisco Ulloa</title>
</head>
<body>
    <!-- seccion de navegacion -->
    <nav>
        <h1>Francisco Ulloa</h1>
    </nav>
    <!-- seccion principal -->
    <main>
        <div>
            <h2>Cursos de programación</h2>
            <ul>
                <li>Html, css, bootstrap</li>
                <li>Python </li>
                <li>API - FLASK</li>
            </ul>
        </div>
    </main>
    <!-- pie de pagina -->
</body>
</html>